<html>

<head>
  <title>VisionCDL</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
</head>
</head>

<body>
  <!-- {/* Start Container (Home Section)  */} -->
  <div id="about" id="logo" className="container-fluid">
    <div className="row text-center">
      <h1>Vision Clinics of Neuro-Optometric Rehabilitation</h1>
      <h2 className="text-center">Alan P Pearson, OD, MEd, PhD, FCOVD</h2>
      <h3>Board Certified in Vision Development and Vision Therapy</h3>
      <h3>Bellevue and Bothell, WA * 425-213-1016</h3>
      <hr />
    </div>
    <div className="row">
      <div className="col-sm-2">
        <div className="imgBg text-center">
          <h5><a href="about_doctors.php">About</a></h5>
          <a href="about_doctors.php">
            <!-- <img src={require("../images/photos/img_Dr.AlanPearson.jpg")} style={{maxWidth:300}}/> -->
          </a>

          <br /><br />
          <a href="about_doctors.php">
            <div className="btn btn-success">READ MORE</div>
          </a>
        </div>
      </div>
      <div className="col-sm-2">
        <div className="imgBg text-center">
          <h5><a href="#evaluations">Evaluations</a></h5>
          <a href="#evaluations">
            <!-- <img src={require("../images/photos/FunctionalVEval.jpg")} style={{maxWidth:300}}/> -->
          </a>
          <br /><br />
          <a href="#evaluations">
            <div className="btn btn-success">READ MORE</div>
          </a>
        </div>
      </div>
      <div className="col-sm-2">
        <div className="imgBg text-center">
          <h5><a href="#therapy">Vision Therapy</a></h5>
          <a href="#therapy">
            <!-- <img src={require("../images/photos/PediatricVEval.jpg")} style={{maxWidth:300}}/> -->
          </a>
          <br /><br />
          <a href="#therapy">
            <div className="btn btn-success">
              READ MORE
            </div>
          </a>
        </div>
      </div>
      <div className="col-sm-2">
        <div className="imgBg text-center">
          <h5><a href="tools.php">Vision Technology</a></h5>
          <a href="tools.php">
            <!-- <img src={require("../images/photos/VisionTechnology.jpg")} style={{maxWidth:300}}/> -->
          </a>
          <br /><br />
          <a href="tools.php">
            <div className="btn btn-success">READ MORE</div>
          </a>
        </div>
      </div>
      <div className="col-sm-2">
        <div className="imgBg text-center">
          <h5><a href="reading.php">Vision-in-Reading</a></h5>
          <a href="reading.php">
            <!-- <img src={require("../images/photos/Vision-in-ReadingEval.jpg")} style={{maxWidth:300}}/> -->
          </a>
          <br /><br />
          <a href="reading.php">
            <div className="btn btn-success">READ MORE</div>
          </a>
        </div>
      </div>

      <div className="col-sm-2">
        <div className="imgBg text-center">
          <h5><a href="appointment.php">Schedule Appointment</a></h5>
          <a href="appointment.php">
            <!-- <img src={require("../images/photos/schedule.jpg")} style={{maxWidth:300}}/> -->
          </a>
          <br /><br />
          <a href="appointment.php">
            <div className="btn btn-success">Schedule</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- {/* END  Container (Home Section)  */} -->

</body>

</html>